@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.servic_main {
  background-color: var(--color-white-bg);
  width: fit-content;

  h1 {
    // font-family: "Bebas Neue", cursive;
    font-family: "Federo", sans-serif;

    font-size: 67px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    line-height: 8rem;
  }
}

.servic-img {
  height: 600px;
  width: auto;
}

.servic-containers {
  padding: 2rem;

  .container {
    margin: 0;
    align-items: center;
    justify-content: center;

    display: inline-grid;
    padding-bottom: 2%;
  }

  .container-left {
    grid-template-columns: 50rem auto;
    column-gap: 10%;

    h3,
    p {
      text-align: left;
    }
  }

  .container-right {
    grid-template-columns: auto 50rem;
    column-gap: 10%;

    h3,
    p {
      text-align: right;
    }
  }

  .img-container {
    img {
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23),
        0 6px 20px 0 rgba(0, 0, 0, 0.22);
    }
  }

  .text-container {
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 23px;
      color: rgb(49, 49, 49);
    }

    h3,
    p {
      margin-top: 25px;
    }

    background-color: rgba(255, 255, 255, 0.03);
    padding: 1rem;
    border-radius: 20px;
  }
}

.corner-vec-left {
  position: absolute;
  z-index: 1;
  left: 0;
}

.corner-vec-right {
  position: absolute;
  z-index: 1;
  right: 0;
  transform: scaleX(-1);
}

.corner-vec-left-bottom {
  position: absolute;
  z-index: 1;
  left: 0;
  margin-top: 152.5%;
  transform: scaleY(-1);
}
.corner-vec-right-bottom {
  position: absolute;
  z-index: 2;
  right: 0;
  margin-top: 152.5%;
  transform: scaleY(-1) scaleX(-1);
}

.first-pic {
  z-index: 2;
}

@import url("https://fonts.googleapis.com/css?family=Mukta:700");

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $black;
      }
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
