$color: white;

.link_wrapper {
  position: absolute;

  a {
    text-align: center;
    display: block;
    width: 300px;
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all 0.35s;
  }
  a:hover,
  .gallery_mobile {
    width: 250px;
    border: 3px solid $color;
    background: rgb(23, 23, 23);
    color: $color;
  }

  a:hover + .button-icon,
  .gallery_mobile {
    border: 3px solid $color;
    right: -25%;
    background-color: rgb(23, 23, 23);

    svg {
      display: block;
    }
  }
}
.button-icon {
  width: 70px;
  height: 70px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: 1;
  transition: all 0.35s;

  svg {
    justify-content: center;
    display: none;
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: $color;
    transition: all 0.35s;
  }
}
