.about_main {
  background-image: url("../../assets/Images_for_web/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 7px 7px 7px 7px blacks;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2% 10%;

    @media (max-width: 375px) {
      margin: 2% 3%;
    }

    .about-text {
      align-items: center;
      padding-top: 1.5rem;
      padding-left: 10%;
      padding-right: 10%;

      h1,
      p {
        color: white;
      }

      h1 {
        font-family: "Federo", sans-serif;
        font-size: 65px;
        letter-spacing: 15px;
        text-transform: uppercase;
      }

      p {
        padding-top: 2rem;
        border-radius: 5px;
        font-size: 20px;
      }

      @media screen and (max-width: 900px) {
        h1 {
          font-size: 45px;
        }
        p {
          font-size: 18px;
        }
      }
      @media screen and (max-width: 375px) {
        h1 {
          font-size: 27px;
          letter-spacing: 5px;
        }
        p {
          font-size: 15px;
        }
        padding-right: 2%;
        padding-left: 2%;
      }
    }

    .about-follow {
      display: grid;
      grid-template-columns: 5rem 5rem 5rem;
      grid-gap: 2rem;
      margin: 1em;
      margin-bottom: 1.5rem;

      $Size-font: 50px;
      .to-you {
        font-family: "Roboto", sans-serif;
        color: #ccc;
        display: inline-block;
        font-size: $Size-font;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
          animation: circle-anim 0.3s ease forwards;
          transition: all 0.4s ease;
          background: red;
        }
      }

      .to-face {
        font-family: "Roboto", sans-serif;
        color: #ccc;
        display: inline-block;
        font-size: $Size-font;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
          animation: circle-anim 0.3s ease forwards;
          transition: all 0.4s ease;
          background: #4267b2;
        }
      }

      .to-insta {
        font-family: "Roboto", sans-serif;
        color: #ccc;
        display: inline-block;
        font-size: $Size-font;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
          animation: circle-anim 0.3s ease forwards;
          transition: all 0.4s ease;
          background: rgb(64, 93, 230);
          background: linear-gradient(
            215deg,
            rgba(64, 93, 230, 1) 0%,
            rgba(88, 81, 216, 1) 14%,
            rgba(131, 58, 180, 1) 28%,
            rgba(193, 53, 132, 1) 38%,
            rgba(225, 48, 108, 1) 47%,
            rgba(253, 29, 29, 1) 57%,
            rgba(245, 96, 64, 1) 66%,
            rgba(247, 119, 55, 1) 75%,
            rgba(252, 175, 69, 1) 83%,
            rgba(255, 220, 128, 1) 100%
          );
        }
      }

      @media (max-width: 400px) {
        grid-template-columns: 3rem 3rem 3rem;
        $Size-font: 30px;

        .to-face,
        .to-insta,
        .to-you {
          font-size: $Size-font;
        }
      }
    }
  }
}

@keyframes circle-anim {
  0% {
  }

  90% {
    padding: 0.35em;
    margin: -0.35em;
  }

  100% {
    padding: 0.25em;
    margin: -0.25em;
  }
}

@media screen and (max-width: 900px) {
  .about-text {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20rem;
    }
  }
}
