$bg-color: rgb(34, 33, 34);
$text-bg-color: rgb(29, 28, 29);
$text-color: rgb(157, 157, 157);

.big-main {
  height: 80vh;
  width: 100vw;
  background-color: $bg-color;
  padding: 4rem;

  h1 {
    font-size: 65px;
    text-transform: uppercase;
    color: $text-color;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-follow {
  div {
    background-color: $text-bg-color;
    margin-top: 3%;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    color: $text-color;
  }
}

.main-form {
  display: flex;
  flex-direction: column;

  text-align: left;
  padding: 2rem;

  .cont {
    font-size: 20px;
    color: $text-color;
    background-color: $text-bg-color;
    border: none;
    border-radius: 8px;
    padding: 6px;
  }
  .label {
    color: $text-color;
    font-size: 25px;
  }
}

// $green: #1ecd97;
// $gray: #bbbbbb;

// .container {
//   font-family: "Roboto", sans-serif;
// }
// .container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -65px;
//   margin-top: -20px;
//   width: 130px;
//   height: 40px;
//   text-align: center;
// }
// button {
//   outline: none;
//   height: 40px;
//   text-align: center;
//   width: 130px;
//   border-radius: 40px;
//   background: #fff;
//   border: 2px solid $green;
//   color: $green;
//   letter-spacing: 1px;
//   text-shadow: 0;
//   font: {
//     size: 12px;
//     weight: bold;
//   }
//   cursor: pointer;
//   transition: all 0.25s ease;
//   &:hover {
//     color: white;
//     background: $green;
//   }
//   &:active {
//     //letter-spacing: 2px;
//     letter-spacing: 2px;
//   }
//   &:after {
//     content: "SUBMIT";
//   }
// }
// .onclic {
//   width: 40px;
//   border-color: $gray;
//   border-width: 3px;
//   font-size: 0;
//   border-left-color: $green;
//   animation: rotating 2s 0.25s linear infinite;

//   &:after {
//     content: "";
//   }
//   &:hover {
//     color: $green;
//     background: white;
//   }
// }
// .validate {
//   font-size: 13px;
//   color: white;
//   background: $green;
//   &:after {
//     font-family: "FontAwesome";
//     content: "\f00c";
//   }
// }

// @keyframes rotating {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
