$bg-color: rgb(34, 33, 34);
$text-bg-color: rgb(29, 28, 29);
$text-color: rgb(157, 157, 157);

.corner-piece-left {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.corner-piece-right {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  transform: scaleY(-1) scaleX(-1);
}

.big-main {
  margin-top: 2rem;
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: $bg-color;
  padding-bottom: 3rem;
  padding-top: 5rem;

  h1 {
    font-family: "Federo", sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    color: $text-color;
    // margin-top: 5rem;
    margin-bottom: 5%;
    letter-spacing: 9.5px;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 55px;
    }
  }
}

.main {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.follow-icon {
  display: inline;

  padding: 17px;
  width: 30px;
  height: 30px;
  background-color: #363537;
  background-size: cover;
  border-radius: 50%;
  margin-right: 12px;

  .servic-icon {
    font-size: 30px;
  }

  @media (max-width: 770px) {
    width: 20px;
    height: 20px;
    padding: 10px;

    .servic-icon {
      font-size: 21px;
    }
  }
  @media (max-width: 580px) {
    width: 17px;
    height: 17px;
    padding: 8px;

    .servic-icon {
      font-size: 20px;
    }
  }
}

.main-follow {
  .el {
    background-color: $text-bg-color;
    margin-bottom: 6%;
    border-radius: 10px;
    padding: 30px;
    padding-right: 9rem;
    font-size: 20px;
    text-align: left;
    color: $text-color;

    @media (max-width: 730px) {
      padding: 20px;
      padding-right: 7rem;
    }
    @media (max-width: 580px) {
      padding: 15px;
      padding-right: 4rem;
    }
    @media (max-width: 540px) {
      padding-right: 2rem;
      font-size: 17px;
    }
  }
}

.vertical-line {
  border: 1px solid $text-color;
  height: 22rem;
  margin: 1rem 5% 1rem 5%;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  text-align: left;

  .cont {
    font-size: 20px;
    color: $text-color;
    background-color: $text-bg-color;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;

    width: 30vw;

    @media (max-width: 1000px) {
      width: calc(60vw + 4rem);
    }
  }
  .label {
    color: $text-color;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .message {
    resize: none;
    // width: 30vw;
    height: 30vh;

    @media (max-width: 1000px) {
      // width: 57vw;
      width: calc(60vw + 4rem);
    }
    @media (max-width: 650px) {
      // width: 57vw;
    }
  }

  .send-button {
    text-align: center;
    width: fit-content;
    top: 20px;
    left: 25%;
  }
}

@media screen and (max-width: 1752px) {
  .about-corner {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .vertical-line {
    display: none;
  }

  .main {
    flex-direction: column;
  }

  .big-main {
    height: fit-content;
  }
}

@media screen and (max-width: 580px) {
  .big-main {
    h1 {
      font-size: 40px;
    }
  }
  .follow-icon {
    width: 20px;
    height: 20px;
  }
  .el {
    padding-right: 0;
  }
}
