$bg-color: rgb(34, 33, 34);
$text-bg-color: rgb(29, 28, 29);
$text-color: rgb(157, 157, 157);

.corner-piece-left {
  position: absolute;
  z-index: 1;
  left: 0;
}
.corner-piece-right {
  position: absolute;
  z-index: 1;
  right: 0;

  transform: scaleX(-1);
}

.big-main {
  height: 90vh;
  width: 100vw;
  background-color: $bg-color;
  padding: 3rem;

  h1 {
    font-size: 65px;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 5%;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.follow-icon {
  display: inline;

  padding: 17px;
  width: 30px;
  height: 30px;
  background-color: #363537;
  background-size: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.main-follow {
  .el {
    background-color: $text-bg-color;
    margin-bottom: 6%;
    border-radius: 10px;
    padding: 30px;
    padding-right: 9rem;
    font-size: 20px;
    text-align: left;
    color: $text-color;
  }
}

.vertical-line {
  border: 1px solid $text-color;
  height: 22rem;
  margin: 1rem 5% 1rem 5%;
}

.main-form {
  display: flex;
  flex-direction: column;

  text-align: left;

  .cont {
    font-size: 20px;
    color: $text-color;
    background-color: $text-bg-color;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  .label {
    color: $text-color;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .message {
    resize: none;
    width: 30vw;
    height: 30vh;
  }

  .send-button {
    text-align: center;
    width: 15vw;
    top: 20px;
    left: 25%;
  }
}
