.header {
  margin-top: 7rem;
  z-index: 1;
  background-image: url("../../assets/Images/company_house.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100vw;
}

.header_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_comp-motto h1,
h2,
h3 {
  color: white;
}
