.header {
  margin-top: 6.2rem;
  z-index: 1;
  background-image: url("../../assets/Images/company-cars.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;

  @media (max-width: 1000px) {
    height: fit-content;
  }

  .header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header_comp-motto {
      color: white;
      margin-left: 5%;
      margin-top: 8%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 80px;
      }

      h3 {
        text-align: left;
        max-width: 45vw;
      }

      a {
        margin-top: 2rem;
      }

      h2,
      h3 {
        margin-top: 4px;
        line-height: 40px;
      }

      h1,
      h2,
      h3 {
        // -webkit-text-stroke-width: 0.5px;
        // -webkit-text-stroke-color: white;
        color: whitesmoke;
      }
    }
    @media screen and (max-width: 1600px) {
      .header_comp-motto {
        h1 {
          font-size: 50px;
        }
      }
    }

    @media screen and (max-width: 500px) {
      .Rowsen {
        margin-bottom: 10rem;
      }

      .header_comp-motto {
        h1 {
          margin-top: 3rem;
        }
      }
    }

    .header_services {
      cursor: pointer;

      background-color: rgba(0, 0, 0, 0.45);
      border-top: 6px solid orange;
      border-radius: 8px;
      padding: 2rem;
      width: fit-content;

      margin: 9% 5% 2% 5%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        text-decoration: none;
        color: var(--color-text);
        margin-top: 24px;
        font-size: 30px;
        clear: left;
        text-align: left;

        &:hover {
          animation: slide-right 0.5s ease-in-out forwards;

          @media (max-width: 810px) {
            animation: none;
          }
        }
      }
    }

    @media screen and (max-width: 1450px) {
      .header_comp-motto {
        h3 {
          font-size: 23px;
        }
        h2 {
          font-size: 25px;
        }
      }
      .header_services {
        a {
          font-size: 25px;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .header_comp-motto {
        margin: 2%;
        h3 {
          max-width: 100%;
        }
      }
      .header_services {
        margin: 2%;
        a {
          font-size: 20px;
        }
      }
    }

    @media screen and (max-width: 570px) {
      .header_comp-motto {
        h3 {
          font-size: 20px;
        }
      }
    }

    @media screen and (max-width: 500px) {
      .header_services {
        a {
          font-size: 23px;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .header_main {
      flex-direction: column;
    }
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(20px);
    font-size: 35px;
  }
}
