@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
.gallery_main {
  background-color: rgb(29, 28, 28);
  height: max-content;
  width: auto;

  h1 {
    font-family: "Federo", sans-serif;
    padding: 1rem 0;
    margin: 0;
    font-size: 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;

    @media (max-width: 650px) {
      font-size: 60px;
    }
    @media (max-width: 460px) {
      font-size: 50px;
    }
  }

  .link_wrapper {
    display: inline;
    position: absolute;
    left: 42.5%;
    z-index: 1;
    margin-top: -1rem;

    @media (max-width: 650px) {
      left: 30%;
    }
    @media (max-width: 490px) {
      left: 20%;
    }
    @media (max-width: 380px) {
      left: 10%;
    }
  }
}

.gallery-images {
  background: linear-gradient(
    153deg,
    rgba(98, 98, 98, 1) 2%,
    rgba(81, 81, 81, 1) 23%,
    rgba(81, 81, 81, 1) 66%,
    rgba(98, 98, 98, 1) 100%
  );
  padding: 2rem;
  img {
    width: auto;
    height: 700px;
    margin: 0 auto;

    // border-radius: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.53),
      0 30px 40px 0 rgba(0, 0, 0, 0.42);

    @media (max-width: 1840px) {
      height: 650px;
    }
    @media (max-width: 1740px) {
      height: 500px;
    }
    @media (max-width: 1320px) {
      height: 400px;
    }
    @media (max-width: 1020px) {
      height: 300px;
    }
    @media (max-width: 785px) {
      height: 250px;
    }
    @media (max-width: 585px) {
      height: 200px;
    }
    @media (max-width: 540px) {
      height: 150px;
    }
  }

  .Carousel {
    height: 600px;
    width: fit-content;

    @media (max-width: 1740px) {
      height: 500px;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    scale: 2.3;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 40%;

    @media (max-width: 1020px) {
      display: none;
    }
  }
}
