.gallery_main {
  padding: 2%;
  background-color: gray;
  height: 100vh;
  width: auto;

  .gallery-images {
    height: auto;
    width: max-content;
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 50%) 1fr 3em;
    row-gap: 4em;
  }

  img {
    height: 30vh;
    width: auto;
  }
}
