.video_main {
  height: clamp(10%, 100vh, 50%);
  position: relative;
  // height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .play-btn {
    font-size: 40px;
  }
  .mute-btn {
    font-size: 32px;
    @media (max-width: 450px) {
      font-size: 25px;
    }
  }

  .video-overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: auto;
    width: auto;
    position: absolute;

    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);

    .video-overlay-circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid white;
      cursor: pointer;

      @media (max-width: 600px) {
        border: none;
      }
    }
  }
}

.mute-btn-overlay {
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.mute-btn-overlay-active {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;

  position: absolute;
  right: 2%;
  bottom: 2%;

  height: 60px;
  width: 60px;
}

.mute-btn {
  position: absolute;
  right: 2%;
  bottom: 2%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(83, 83, 83, 0.271);
  border-radius: 50%;
  padding: 5px;

  @media (max-width: 600px) {
    background-color: rgba(0, 0, 0, 0);
  }
}

.Youtube-link {
  background-color: rgb(23, 23, 23);
  padding: 1rem 0;

  text-align: left;

  span {
    margin-left: 15%;
    color: white;
    font-size: 24px;
  }
  a {
    text-decoration: none;
    color: white;

    span {
      margin-left: 20px;
      background-color: white;
      border-radius: 60%;
    }

    svg {
      // background-color: white;
      font-size: 60px;
      color: red;
      // margin-left: 20px;
      // border-radius: 20%;
    }
  }

  @media (max-width: 430px) {
    span {
      font-size: 20px;
      margin-left: 10%;
    }
  }
  @media (max-width: 345px) {
    span {
      margin-left: 4%;
    }
  }
}
