/* FOOTER-HEADING STUFF */

.footer {
  background-color: rgb(52, 51, 51);
  width: 100vw;
  height: min-content;
}

.footer-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-heading-explore,
.footer-heading-contact,
.footer-heading-follow,
.footer-heading-legal,
.footer-heading-img {
  display: flex;
  flex-direction: row;
}

.vertical_line {
  margin-top: 30px;
  border-left: 1px solid rgb(75, 75, 75);
  height: 190px;
}

.footer-heading {
  margin: 0 1rem 2rem 2rem;
}

.footer-heading-img {
  margin-top: 3rem;
}

.footer-heading-img img {
  height: 13vh;
  width: 13vw;
}

.footer-heading-contact ul,
.footer-heading-explore ul,
.footer-heading-follow ul,
.footer-heading-legal ul {
  margin-top: 2rem;
  list-style-type: none;
  list-style: none;
}

.footer-heading-contact li,
.footer-heading-explore li,
.footer-heading-follow li,
.footer-heading-legal li {
  text-align: start;
  color: gray;
}

.footer-heading-name h1 {
  color: white;
  margin-top: 3rem;
}

.footer-heading h3 {
  color: white;
}

li {
  margin-top: 0.5rem;
}

.usable_links {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

/* DESIGN PART */

.footer-design {
  background-color: rgb(19, 19, 19);
  margin: 0;
}

.footer-design-main {
  margin-bottom: -0.6rem;
}

.footer-design-para {
  font-size: larger;
  color: gray;
  display: inline;
  line-height: 2.5rem;
  margin: 0;
}

.inLine {
  display: inline;
}

.footer-design a {
  color: gray;
  text-decoration: none;
}

.inLine:hover {
  color: rgb(183, 163, 47);
}

.footer-heading-explore {
  display: inline;
  p {
    margin-top: 2.5rem;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer_services {
  cursor: pointer;
  color: gray;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    text-decoration: none;
    color: gray;
    margin-top: 0.5rem;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 1260px) {
  .vertical_line {
    display: none;
  }

  .footer-heading {
    flex-direction: column;
  }

  .footer-heading-name,
  .footer-heading-explore,
  .footer-heading-contact,
  .footer-heading-follow,
  .footer-heading-legal {
    margin-top: 3px;
  }

  .footer-heading-explore {
    margin-left: 2%;
  }

  .footer-heading-img img {
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .footer-heading {
    align-items: flex-start;
    margin-left: 0;
  }

  .footer-heading-explore {
    margin-left: 2%;
  }

  .footer-heading-img {
    align-items: center;
  }
  .footer-heading-img img {
    margin-left: 2rem;
    width: 55%;
    height: auto;
  }
}

// FIXME: az a pici feher vonalka ami a lap aljan van fixeld meg
