.page_gallery_main {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(27, 27, 27, 1) 21%,
    rgba(47, 47, 47, 1) 38%,
    rgba(57, 57, 57, 1) 49%,
    rgba(57, 57, 57, 1) 55%,
    rgba(47, 47, 47, 1) 65%,
    rgba(27, 27, 27, 1) 82%,
    rgba(0, 0, 0, 1) 95%
  );
  margin-top: 6rem;

  h1 {
    padding: 2.4rem 1rem;
    text-transform: uppercase;
    font-family: "Federo", sans-serif;
    font-size: 65px;
    color: wheat;
  }
}

.gallery-g {
  column-count: 3;
  column-width: 33%;
  padding: 0 12px;

  img {
    width: 100%;
  }
}

.gallery-g .pics {
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;

  &:hover {
    filter: opacity(0.8);
  }
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.4s ease-in-out;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  //   overflow: hidden;
  z-index: 999;
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model svg {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 3.5rem;
  height: 3.5rem;
  padding: 5px;
  color: gray;
}

@media (max-width: 991px) {
  .gallery-g {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .page_gallery_main {
    h1 {
      font-size: 50px;
    }
  }
}
